@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    
    font-family: "Poppins";
    outline: none;
}
html, body{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.782);
}
input, .span{
    background-color: #191919;
}
.todo
{
    text-overflow: ellipsis;
}
::placeholder
{
    font-size: 12px;
}
input:focus
{
    border: 0;
}